.mat-card{
    .mat-card-header {
        margin: 10px 0px;
    }
    .mat-card-content {
        display: grid;
        grid-template-columns: 1fr;
        .mat-form-field {
            width: 100%;
        }
        .mat-button{
            display: inline-block;
        }
    }
}