<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side">
        SideNav
    </mat-sidenav>

    <mat-toolbar>
        <mat-toolbar-row>
            <div class="filler"></div>
            <button mat-button routerLink="/" class="sidenav-button">Home</button>
            <button mat-button routerLink="/create" class="sidenav-button">Add an article</button>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <button mat-button (click)="sidenav.toggle()">Menu</button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="container">
        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>